.button
{
-fx-background-color : #424874;
}

.button:hover{
-fx-background-color : #7B90D2;
}

.button:pressed {
-fx-background-color : #FFF;
}

.scroll-pane {
-fx-background-color: #424874;
}

.scroll-bar:vertical .track{
    -fx-background-color: #424874;
    -fx-border-color: #424874;
    -fx-background-radius: 5em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #FFF;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.toggle-button {
    unselected-color: #424874;
    selected-color: #A6B1E1;
    -fx-background-color : unselected-color;
}

.toggle-button:hover {
    -fx-background-color : #DCD6F7;
}

.toggle-button:selected {
    -fx-background-color : #A6B1E1;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #424874;
}

.table-view .cell{
   -fx-cell-size: 35;
  -fx-alignment: center;
  -fx-background-color: #A6B1E1;
  -fx-border-color: #A6B1E1;
  -fx-text-fill: White;
  -fx-alignment: CENTER;
   }

.table-view .column-header .label{
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

.chart-plot-background {
    -fx-background-color: #f4eeff
}

